<h1>Sign in</h1>

<%= form_tag sessions_path do %>
  Username: <%= text_field_tag :username, params[:username] %><br>
  Password: <%= password_field_tag :password, params[:password] %><br>
  <%= submit_tag "Log in", class:"btn btn-primary" %>
<% end %>
