<table class="table table-hover">
  <thead>
    <tr>
      <th>Beer</th>
      <th>Score</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% ratings.each do |rating| %>
      <tr>
        <td><%= link_to rating.beer.name, rating.beer %></td>
        <td><%= rating.score %></td>
        <td><%= link_to rating.user.username, rating.user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
