<table class="table table-hover">
  <thead>
    <tr>
      <th><%= item_name %></th>
      <th>Average</th>
    </tr>
  </thead>

  <tbody>
    <% item.each do |i| %>
      <tr>
        <td><%= link_to i.name, i %></td>
        <td><%= round(i.average_rating) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
