<h1>Listing ratings</h1>

<p>Number of ratings: <%= @ratings.count %> </p>

<ul>
  <% @ratings.each do |rating| %>
    <li>
      <%= rating %>
      <%= link_to rating.user.username, user_path(rating.user) %>
    </li>
  <% end %>
</ul>

<%= link_to 'New Rating', new_rating_path %>
