<h1>Listing styles</h1>

<% @styles.each do |style| %>
  <div>
  <h4><%= link_to style.name, style %></h4>

  <%= style.description %>
  </div>
<% end %>

<br>

<%= link_to('New Style', new_style_path, class:"btn btn-primary") unless current_user.nil? %>
