<h1><%= @style.name %></h1>

<p>
  <%= @style.description %>
</p>

<h4>beers</h4>
<ul>
  <% @style.beers.each do |b| %>
    <li><%= b %></li>
  <% end %>
</ul>

<%= edit_and_destroy_buttons(@style) %>
